<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Forgot_Password</title>
    <link href="~/css/Login.css" rel="stylesheet" />
</head>
<body>
    <div id="parent">
        <div id="container">

            @using (Html.BeginForm("PostByRequest", "Home", FormMethod.Post))
            {
                <h1 class="h1">Forgot Password</h1>
                <label class="label">Email: </label> <br />
                <input type="text" class="textbox" name="Email" /> <br />
                <input type="submit" id="btnsubmit" value="Submit" />
            }
        </div>

    </div>
   
</body>
</html>
